[Unit]
Description=Daily Minecraft Server backup

[Service]
Type=oneshot
ExecStart=/PlumdoodleMinecraftServer/systemd/backup-minecraft.sh
WorkingDirectory=/PlumdoodleMinecraftServer
