[Unit]
Description=Plumdoodle Minecraft Server
After=network.target

[Service]
Restart=always
StartLimitIntervalSec=10
StartLimitBurst=2
ExecStart=/PlumdoodleMinecraftServer/startServer.sh
WorkingDirectory=/PlumdoodleMinecraftServer
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
