[Unit]
Description=Plumdoodle Minecraft Server
After=network.target
StartLimitIntervalSec=1
StartLimitBurst=1

[Service]
Restart=always
ExecStart=/PlumdoodleMinecraftServer/startServer.sh
WorkingDirectory=/PlumdoodleMinecraftServer
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
